.font-style{
    font-family: 'Tangerine'serif;
    text-shadow: 4px 4px 4px #aaa;
}
.font-logo{
    font-family: 'Tangerine'serif;
    font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;
}

.footer hr{
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer .copyright{
    text-align: center;
    margin-bottom: 35px;
}

table .select{
    /*background-color: red;*/
    width: 5%;
}
table .sender{
    width: 10%;
}
table .title{
    width: 78%;
}